{{! GPL-3.0-or-later; Copyright 2026 108design. style contains only validated hex colours. }}
<span class="badge supportdesk-badge {{class}}"{{#style}} style="{{style}}"{{/style}}>{{#icon}}<i class="fa {{icon}}" aria-hidden="true"></i> {{/icon}}{{label}}</span>
