{{! GPL-3.0-or-later; Copyright 2026 Andreas Giesen, 108design. }}
<div class="supportdesk">
<h1 class="h3">{{#str}}visitor_heading, local_supportdesk{{/str}}</h1>
<p>{{#str}}visitor_intro, local_supportdesk{{/str}}</p>
<p><a class="btn btn-primary" href="{{magiclinkurl}}">{{#str}}visitor_continue, local_supportdesk{{/str}}</a></p>
<p class="small text-muted">{{#str}}visitor_account_hint, local_supportdesk{{/str}}</p>
<a href="{{loginurl}}">{{#str}}visitor_standardlogin, local_supportdesk{{/str}}</a>
</div>
