{{! GPL-3.0-or-later; Copyright 2026 108design. }}
<ul class="list-unstyled supportdesk-stats mb-0">{{#statistics}}<li><span class="supportdesk-count-pill">{{count}}</span><span>{{label}}</span></li>{{/statistics}}</ul>
