{{! Derived from learn-ix Academic Ticket System; GPL-3.0-or-later. Modified 2026-10-03 by 108design: native Moodle UI. }}

<div class="supportdesk"><dl class="supportdesk-facts"><dt>{{#str}}user_name_label, local_supportdesk{{/str}}</dt><dd><a href="{{ticket.creator_profile_url}}">{{ticket.created_by}}</a></dd><dt>{{#str}}created_at, local_supportdesk{{/str}}</dt><dd>{{ticket.created_at}}</dd><dt>{{#str}}assigned_to, local_supportdesk{{/str}}</dt><dd>{{assigned_user_name}}</dd></dl></div>
